.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-box {
    width: 300px;
    height: 200px;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.dashboard-box h2 {
    margin-bottom: 20px;
}

.dashboard-box p {
    color: #b8abab;
}